.subscribeGradient {
    max-width: 980px;
    background: skyblue;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}


.subscribeWidth {
    max-width: 400px;
    width: "85%";
}