.heroBackground {
    max-width: 1300px;
    background: var(--primary-color);
    border-radius: 0px 30px 0px 120px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: var(--mantine-color-white);
    font-family: "Patrick Hand", cursive;
    font-size: rem(44px);
    margin-left: 50px;
    font-weight: 500;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
    }
}

.subtitle {
    color: var(--mantine-color-white);
    font-size: rem(20px);
    margin-left: 50px;
    font-weight: 500;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(18px);
    }
}
.searchPosition {
  position: absolute;
  max-width: 1300px;
  top: -80px;
}